## ETL Project Hedgeapple

In [1]:
# Importing Required Libraries
import pandas as pd
import numpy as np

In [2]:
# Reading "homework.csv" into Dataframe
homework = pd.read_csv("homework.csv")
homework.head(2)

C:\Users\Harshavardhan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6,7,23,43,45,86,87,91,92,122,123,124) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,item number,upc,new item,system creation date,min order qty,sales uom,wholesale ($),map ($),msrp ($),description,...,selling point 2,selling point 3,selling point 4,selling point 5,selling point 6,selling point 7,selling point 8,selling point 9,selling point 10,record status
0,203,8.109370e+11,NaN,7/7/15,1,Each,228,304,$456.00,White Obelisk Table Lamp With Night Light,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Active
1,205,8.109370e+11,NaN,7/7/15,1,Each,229.5,306,$459.00,Antiqued Porcelain Table Lamp In Celadon Crack...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Active

In [3]:
# Reading "example.csv" to Dataframe
example = pd.read_csv("example.csv")
example

,manufacturer_sku,ean13,weight,length,width,height,prop_65,cost_price,min_price,made_to_order,...,boxes__1__width,boxes__2__weight,boxes__2__length,boxes__2__height,boxes__2__width,boxes__3__weight,boxes__3__length,boxes__3__height,boxes__3__width,product__styles
0,3129-1149,081-800803392-6,3.3,2.8,23.6,16.1,True,49.80,89.64,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Modern
1,8903-071,081-800803319-3,1.5,3.0,5.0,7.0,True,33.20,0.00,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Coastal, Eclectic & Global"
2,7011-1034,081-800803463-3,63.0,16.0,32.0,30.0,True,322.66,0.00,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Coastal, Cottage & Farmhouse"

In [4]:
# Creating a copy of example Dataframe with only the Columns named formatted
formatted = example[0:0].copy()

In [5]:
formatted

Empty DataFrame
Columns: [manufacturer_sku, ean13, weight, length, width, height, prop_65, cost_price, min_price, made_to_order, product__product_class__name, product__brand__name, product__title, product__description, product__bullets__0, product__bullets__1, product__bullets__2, product__bullets__3, product__bullets__4, product__bullets__5, product__bullets__6, product__configuration__codes, product__multipack_quantity, product__country_of_origin__alpha_3, product__parent_sku, attrib__arm_height, attrib__assembly_required, attrib__back_material, attrib__blade_finish, attrib__bulb_included, attrib__bulb_type, attrib__color, attrib__cord_length, attrib__design_id, attrib__designer, attrib__distressed_finish, attrib__fill, attrib__finish, attrib__frame_color, attrib__hardwire, attrib__kit, attrib__leg_color, attrib__leg_finish, attrib__material, attrib__number_bulbs, attrib__orientation, attrib__outdoor_safe, attrib__pile_height, attrib__seat_depth, attrib__seat_height, attrib__seat_width, attrib__shade, attrib__size, attrib__switch_type, attrib__ul_certified, attrib__warranty_years, attrib__wattage, attrib__weave, attrib__weight_capacity, boxes__0__weight, boxes__0__length, boxes__0__height, boxes__0__width, boxes__1__weight, boxes__1__length, boxes__1__height, boxes__1__width, boxes__2__weight, boxes__2__length, boxes__2__height, boxes__2__width, boxes__3__weight, boxes__3__length, boxes__3__height, boxes__3__width, product__styles]
Index: []

[0 rows x 76 columns]

In [6]:
# Creating a Dictionary of all the relevant Columns found in Homework and Example
dic = {
        'item number': 'manufacturer_sku',
        'upc': 'ean13',
        'item weight (pounds)': 'weight',
        'item depth (inches)':'length',
        'item width (inches)':'width', 
        'item height (inches)':'height',
        'wholesale ($)':'cost_price',
        'map ($)':'min_price',
        'item category': 'product__product_class__name',
        'brand': 'product__brand__name',
        'description': 'product__title',
        'long description': 'product__description',
        'selling point 1': 'product__bullets__0',
        'selling point 2': 'product__bullets__1', 
        'selling point 3': 'product__bullets__2', 
        'selling point 4': 'product__bullets__3', 
        'selling point 5': 'product__bullets__4', 
        'selling point 6': 'product__bullets__5', 
        'selling point 7': 'product__bullets__6', 
        'carton count': 'product__multipack_quantity', 
        'country of origin': 'product__country_of_origin__alpha_3', 
        'furniture arm height (inches)': 'attrib__arm_height', 
        'bulb 1 included': 'attrib__bulb_included', 
        'bulb 1 type': 'attrib__bulb_type', 
        'primary color family': 'attrib__color', 
        'cord length (inches)': 'attrib__cord_length', 
        'licensed by': 'attrib__designer', 
        'item finish': 'attrib__finish',  
        'conversion kit option': 'attrib__kit', 
        'item materials': 'attrib__material', 
        'bulb 1 count': 'attrib__number_bulbs', 
        'outdoor': 'attrib__outdoor_safe', 
        'max overall height (inches)': 'attrib__pile_height', 
        'furniture seat height (inches)': 'attrib__seat_height',  
        'furniture seat dimensions (inches)': 'attrib__size', 
        'switch type': 'attrib__switch_type', 
        'safety rating': 'attrib__ul_certified',  
        'bulb 1 wattage': 'attrib__wattage', 
        'furniture weight capacity (pounds)': 'attrib__weight_capacity', 
        'carton 1 weight (pounds)':'boxes__0__weight',
        'carton 1 length (inches)':'boxes__0__length',
        'carton 1 height (inches)':'boxes__0__height',
        'carton 1 width (inches)':'boxes__0__width',
        'carton 2 weight (pounds)':'boxes__1__weight',
        'carton 2 length (inches)':'boxes__1__length',
        'carton 2 height (inches)':'boxes__1__height',
        'carton 2 width (inches)':'boxes__1__width',
        'carton 3 weight (pounds)':'boxes__2__weight',
        'carton 3 length (inches)':'boxes__2__length',
        'carton 3 height (inches)':'boxes__2__height',
        'carton 3 width (inches)':'boxes__2__width', 
        'item style': 'product__styles' 
    }

In [7]:
# Assigning values from Homework to our formatted Dataframe
for i,j in dic.items():
    formatted[j]=homework[i]

In [8]:
formatted.head(3)

,manufacturer_sku,ean13,weight,length,width,height,prop_65,cost_price,min_price,made_to_order,...,boxes__1__width,boxes__2__weight,boxes__2__length,boxes__2__height,boxes__2__width,boxes__3__weight,boxes__3__length,boxes__3__height,boxes__3__width,product__styles
0,203,8.109370e+11,6.0,18.0,18.0,36.0,NaN,228,304,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Modern / Contemporary
1,205,8.109370e+11,12.0,18.0,18.0,31.0,NaN,229.5,306,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traditional
2,208,8.109370e+11,7.0,10.0,10.0,27.0,NaN,201,268,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Modern / Contemporary

### Transformations

In [9]:
# Define a function to format "ean13" column values
def format_number(number):
    number_str = str(number)  # Convert the number to a string
    return '0'+ number_str[:2] + '-' + number_str[2:11] + '-' + number_str[11:]

In [10]:
# Apply the function to "ean13" columns
formatted['ean13'] = formatted['ean13'].apply(format_number)

In [11]:
# In the above formatting we have a drawback that it returns value with a decimal so to remove the decimal
# Define a function to format the decimal
def format_number(number):
    return number.split(".")[0]

In [12]:
# Apply the function to "ean13" columns
formatted['ean13'] = formatted['ean13'].apply(format_number)

In [13]:
formatted.head(2)

,manufacturer_sku,ean13,weight,length,width,height,prop_65,cost_price,min_price,made_to_order,...,boxes__1__width,boxes__2__weight,boxes__2__length,boxes__2__height,boxes__2__width,boxes__3__weight,boxes__3__length,boxes__3__height,boxes__3__width,product__styles
0,203,081-093700203-5,6.0,18.0,18.0,36.0,NaN,228,304,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Modern / Contemporary
1,205,081-093700205-9,12.0,18.0,18.0,31.0,NaN,229.5,306,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traditional

In [14]:
# Formatting Values in "Prop_65" column
formatted['prop_65'] = homework.apply(
    lambda row: False if pd.isnull(row['url california label (jpg)']) and pd.isnull(row['url california label (pdf)']) else True, axis=1)

In [15]:
formatted.head(2)

,manufacturer_sku,ean13,weight,length,width,height,prop_65,cost_price,min_price,made_to_order,...,boxes__1__width,boxes__2__weight,boxes__2__length,boxes__2__height,boxes__2__width,boxes__3__weight,boxes__3__length,boxes__3__height,boxes__3__width,product__styles
0,203,081-093700203-5,6.0,18.0,18.0,36.0,True,228,304,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Modern / Contemporary
1,205,081-093700205-9,12.0,18.0,18.0,31.0,True,229.5,306,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traditional

In [16]:
# Define a function to format the currency values
def format_currency(value):
    value = value.replace('$', '')  # Remove dollar sign
    value = value.replace(',', '')  # Remove commas
    value = float(value)  # Convert to float
    rounded_value = round(value, 2)  # Round to two decimal places
    formatted_value = "${:,.2f}".format(rounded_value)  # Add dollar sign and format as currency
    return formatted_value

In [17]:
# Apply the function to the desired columns
formatted['cost_price'] = formatted['cost_price'].astype(str).apply(format_currency)
formatted['min_price'] = formatted['min_price'].astype(str).apply(format_currency)

In [18]:
formatted.head(2)

,manufacturer_sku,ean13,weight,length,width,height,prop_65,cost_price,min_price,made_to_order,...,boxes__1__width,boxes__2__weight,boxes__2__length,boxes__2__height,boxes__2__width,boxes__3__weight,boxes__3__length,boxes__3__height,boxes__3__width,product__styles
0,203,081-093700203-5,6.0,18.0,18.0,36.0,True,$228.00,$304.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Modern / Contemporary
1,205,081-093700205-9,12.0,18.0,18.0,31.0,True,$229.50,$306.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traditional

In [19]:
# Formatting Country column in Abbrevation
formatted.product__country_of_origin__alpha_3.unique()

array(['China', nan, 'Indonesia', 'India', 'Phillipines', 'Thailand',
       'Vietnam'], dtype=object)

In [20]:
# Creating a Dictionary for the above countries.
country_abbreviations = {
    'China': 'CHN',
    'Indonesia': 'IDN',
    'India': 'IND',
    'Phillipines': 'PHL',
    'Thailand': 'THA',
    'Vietnam': 'VNM'
}

In [21]:
# Replacing Country Name with Abbrevations.
formatted['product__country_of_origin__alpha_3'] = formatted['product__country_of_origin__alpha_3'].replace(country_abbreviations,regex=True)

In [22]:
# In Example file we have these values in this column so assuming that implies to all rows formatting this column.
formatted.made_to_order.fillna("FALSE",inplace=True)

In [26]:
# Handling Null values not handling them because it would change the Datatype of the columns 
# So not doing anything with NULL values.

In [28]:
# Checking all Datatypes in correct format
formatted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6670 entries, 0 to 6669
Data columns (total 76 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   manufacturer_sku                     6670 non-null   object
 1   ean13                                6670 non-null   object
 2   weight                               5427 non-null   float64
 3   length                               6606 non-null   float64
 4   width                                6616 non-null   float64
 5   height                               6620 non-null   float64
 6   prop_65                              6670 non-null   bool
 7   cost_price                           6670 non-null   object
 8   min_price                            6670 non-null   object
 9   made_to_order                        6670 non-null   object
 10  product__product_class__name         6670 non-null   object
 11  product__brand__name                 6670 non-null   object
 12  product__title                       6670 non-null   object
 13  product__description                 3611 non-null   object
 14  product__bullets__0                  2727 non-null   object
 15  product__bullets__1                  1475 non-null   object
 16  product__bullets__2                  497 non-null    object
 17  product__bullets__3                  134 non-null    object
 18  product__bullets__4                  19 non-null     object
 19  product__bullets__5                  0 non-null      float64
 20  product__bullets__6                  0 non-null      float64
 21  product__configuration__codes        0 non-null      object
 22  product__multipack_quantity          6527 non-null   float64
 23  product__country_of_origin__alpha_3  6433 non-null   object
 24  product__parent_sku                  0 non-null      object
 25  attrib__arm_height                   71 non-null     float64
 26  attrib__assembly_required            0 non-null      float64
 27  attrib__back_material                0 non-null      float64
 28  attrib__blade_finish                 0 non-null      float64
 29  attrib__bulb_included                2242 non-null   object
 30  attrib__bulb_type                    2204 non-null   object
 31  attrib__color                        1341 non-null   object
 32  attrib__cord_length                  1278 non-null   float64
 33  attrib__design_id                    0 non-null      float64
 34  attrib__designer                     450 non-null    object
 35  attrib__distressed_finish            0 non-null      float64
 36  attrib__fill                         0 non-null      float64
 37  attrib__finish                       6633 non-null   object
 38  attrib__frame_color                  0 non-null      float64
 39  attrib__hardwire                     0 non-null      float64
 40  attrib__kit                          2467 non-null   object
 41  attrib__leg_color                    0 non-null      float64
 42  attrib__leg_finish                   0 non-null      float64
 43  attrib__material                     6413 non-null   object
 44  attrib__number_bulbs                 2205 non-null   float64
 45  attrib__orientation                  0 non-null      float64
 46  attrib__outdoor_safe                 6670 non-null   object
 47  attrib__pile_height                  18 non-null     float64
 48  attrib__seat_depth                   0 non-null      float64
 49  attrib__seat_height                  122 non-null    float64
 50  attrib__seat_width                   0 non-null      float64
 51  attrib__shade                        0 non-null      float64
 52  attrib__size                         121 non-null    object
 53  attrib__switch_type                  1770 non-null   object
 54  attrib__ul_certified                 2041 non-null   object
 55  attrib__warranty_years               0 non-null      float64
 56  attrib__wattage                      2067 non-null   float64
 57  attrib__weave                        0 non-null      float64
 58  attrib__weight_capacity              121 non-null    float64
 59  boxes__0__weight                     6415 non-null   float64
 60  boxes__0__length                     6637 non-null   float64
 61  boxes__0__height                     6637 non-null   float64
 62  boxes__0__width                      6637 non-null   float64
 63  boxes__1__weight                     295 non-null    float64
 64  boxes__1__length                     336 non-null    float64
 65  boxes__1__height                     336 non-null    float64
 66  boxes__1__width                      336 non-null    float64
 67  boxes__2__weight                     2 non-null      float64
 68  boxes__2__length                     2 non-null      float64
 69  boxes__2__height                     13 non-null     float64
 70  boxes__2__width                      2 non-null      float64
 71  boxes__3__weight                     0 non-null      float64
 72  boxes__3__length                     0 non-null      float64
 73  boxes__3__height                     0 non-null      float64
 74  boxes__3__width                      0 non-null      float64
 75  product__styles                      6469 non-null   object
dtypes: bool(1), float64(46), object(29)
memory usage: 3.8+ MB

In [24]:
# Finally,Exporting our Dataframe to csv file.
formatted.to_csv("formatted.csv",index=False)